body, html {
    height: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* iOS position:fixed; elements fix (not 100%) */
    min-height: 100%;
    overflow: hidden;
}

body {
    font-family: NittiGrotesk-Medium;
    background-color: $color-base;
}
