.cth-goal {
    background-color: $white;
    max-width: 1024px;
    @extend %clearfix;

    &--main {
        float: left;
        width: 65%;

        .cth-icon-done-dot {
            margin-top: -2px;
            padding: 0 5px;
        }
    }

    &--aside {
        float: right;
        width: 35%;

        .cth-faces {
            height: 32px;
        }
    }

    @extend %clearfix;
}
