.cth-main {
    z-index: 1;
    height: 100%;
    background-color: $color-base;

    .sub-scrollcontainer {
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        height: 100vh;
        transition: padding .2s;
    }

    &.state-topbar-active {
        .sub-scrollcontainer {
            padding-top: $topbar-height;
        }
    }

    &.state-bottombar-active {
        .sub-scrollcontainer {
            padding-bottom: $bottombar-height;
        }
    }
}
