.cth-profile {
    position: relative;
    text-align: center;
    height: 768px;

    .cth-close {
        position: absolute;
        top: 20px;
        right: 32px;
    }

    .profile-img {
        margin-top: 200px;
        width: 545px;
    }
}