.cth-submit {
    width: 703px;
    margin: 0 auto;
    position: relative;
    background: $white;
    border-radius: 2px;

    .cth-close {
        position: absolute;
        top: -28px;
        right: -128px;
    }

    .cth-header {
        padding: $padding-md $padding-lg;
        margin-top: $margin-lg;
        border-bottom: 1px solid $border-color;
    }

    .cth-light-bg-xs {
        .cth-form-group {
            margin-bottom: 0;
        }

        img {
            margin-top: $margin-xs;
        }
    }

    .cth-light-bg-sm {
        .cth-label {
            margin-right: 6px;
            text-transform: none;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: normal;
            background-color: rgba(152,174,179,0.60);

            &-active {
                background-color: $color-btn;
            }
        }
    }

    .cth-preview {
        margin-top: $margin-xs;
    }

    .cth-strip {
        padding: $padding-md $padding-lg;
    }

    .cth-choice {
        margin-top: $margin-xs;
    }

    .cth-button {
        margin-top: $margin-sm;
    }
}