.cth-task {
    background-color: $white;
    max-width: 1024px;

    .cth-link-user {
        width: 284px;
        margin-top: $margin-sm;
        margin-right: 12px;
    }

    .cth-link-suggest {
        width: 301px;
    }

    &--aside {
        float: left;
        width: 65%;
        height: 100%;
        background-color: $white;

        h4 {
            margin-bottom: 2px;
        }

        h2 {
            //margin-bottom: $margin-sm - 12px;
        }

        img {
            margin-top: $margin-sm - 6px;
        }

        p {
            margin-bottom: $margin-xs - 6px;
        }

        a {
            margin-top: $margin-xs - 6px;;
        }

        .cth-task-info {
            width: 100%;
            margin-top: $margin-sm;

            .cth-user {
                float: left;
            }

            .cth-people {
                float: right;
                position: relative;

                .cth-counter {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                p {
                    margin-left: 35px;
                }
            }

            @extend %clearfix;
        }
    }

    &--main {
        float: right;
        width: 35%;
        height: 646px;
        overflow-y: scroll;

        .cth-stats {
            height: 22px;
        }
    }

    @extend %clearfix;
}
