.cth-bottombar {
    width: 100%;
    height: $bottombar-height;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2; // on top of content
    background-color: $color-base;
    border-top: 2px solid rgba($white, .08); // temporary
    pointer-events: all;
    transition: transform .2s, height .2s;
    transform: translateY($bottombar-height);
    img {
        width: 100%;
    }
    
    .cth-button {
        position: absolute;
        top: 12px;
        right: 32px;
    }

    .cth-icon {
        font-size: 16px;
        color: rgba(#fff, 0.6);

        &-right {
            margin-left: 6px;
            margin-top: -2px;
        }

        &-done {
            margin-left: 10px;
            margin-top: -3px;
        }

        &-secondary {
            color: $aqua;
        }

        &-done-dot {
            margin-left: 8px;
        }
    }
}

.state-bottombar-active {
    .cth-bottombar {
        pointer-events: all;
        transform: translateY(0px);
        height: $bottombar-height;

        &.state-expanded {
            height: 65%;

            img {
                width: 100%;
            }
        }
    }
}
