.cth-button {
    background-color: $color-btn;
    border-radius: 2px;
    padding: 13px 20px;
    display: inline-block;
    cursor: pointer;

    &-nav {
        background-color: transparent;
    }

    &-secondary {
        background-color: $cthblue;
    }

    &-like {
        background-color: $cthred;
    }

    &-dark {
        background-color: #5C6D70;
    }
}
