.cth-choice {
    p {
        padding: $padding-sm;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        float: left;
        width: 50%;
    }

    .sub-active {
        background: rgba($grey-light, .4);
        position: relative;
        &:after {
            content: '';
            height: 1px;
            width: 100%;
            display: block;
            background-color: $border-color;
            position: absolute;
            bottom: 0;
            width: calc(100% - 50px);
        }
    }

    @extend %clearfix;
}

