.cth-dashboard-tile {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
    border-radius: 2px;
    padding: $padding-md;
    background-position: bottom left;
    background-size: cover;
    display: block;

    .cth-label {
        margin-bottom: $margin-sm - 7px;
        margin-right: $margin-xs;
    }

    h1 {
        margin-bottom: $margin-sm - 7px;
        white-space: normal;
    }

    &-cthyellow {
        background-image: url("../images/wave_cthyellow.png");
    }

    &-cthblue {
        background-image: url("../images/wave_cthblue.png");
    }

    &-cthred {
        background-image: url("../images/wave_cthred.png");
    }

    &-cthgreen {
        background-image: url("../images/wave_cthgreen.png");
    }

    &-cthgray {
        background-image: url("../images/wave_cthgray.png");
    }

    &-blue {
        background-image: url("../images/wave_blue.png");
    }

    &-navy {
        background-image: url("../images/wave_navy.png");
    }

    &-purple {
        background-image: url("../images/wave_purple.png");
    }

    &-orange {
        background-image: url("../images/wave_orange.png");
    }

    &-red {
        background-image: url("../images/wave_red.png");
    }

    &-aqua {
        background-image: url("../images/wave_aqua.png");
    }
}

