.cth-discover-tile {
    width: 304px;
    height: 236px;
    padding: $padding-md;
    display: inline-block;
    border-radius: 2px;
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.20);
    background-position: 0 0;
    background-size: cover;

    .cth-label {
        margin-bottom: $margin-sm - 7px;
        background-color: rgba(0,0,0,0.10);
    }

    h2 {
        margin-bottom: $margin-sm - 7px;
        color: $white;
    }

    .cth-user p {
        color: rgba(255,255,255,0.60);
    }

    &-cthyellow {
        background-color: $cthyellow;
        background-image: url("../images/pattern_1.png");
    }

    &-cthgreen {
        background-color: $cthgreen;
        background-image: url("../images/pattern_2.png");
    }

    &-cthblue {
        background-color: $cthblue;
        background-image: url("../images/pattern_3.png");
    }

    &-cthred {
        background-color: $cthred;
        background-image: url("../images/pattern_4.png");
    }

    &-cthgray {
        background-color: $cthgray;
        background-image: url("../images/pattern_4.png");
    }

    &-aqua {
        background-color: $color-goal-1;
        background-image: url("../images/pattern_1.png");
    }

    &-orange {
        background-color: $color-goal-2;
        background-image: url("../images/pattern_2.png");
    }

    &-red {
        background-color: $color-goal-3;
        background-image: url("../images/pattern_3.png");
    }

    &-purple {
        background-color: $color-goal-4;
        background-image: url("../images/pattern_4.png");
    }

    &-navy {
        background-color: $color-goal-5;
        background-image: url("../images/pattern_5.png");
    }

    &-blue {
        background-color: $color-goal-6;
        background-image: url("../images/pattern_6.png");
    }
}
