.cth-goal-parallax {
    .cth-timeline {
        position: sticky;
        position: -webkit-sticky;
        top: $margin-sm;
        z-index: -1;
    }

    .cth-goal {
        transform: translateZ(0);
    }
}
