.cth-list-inline {
    font-size: 0;

    li {
        position: relative;
        white-space: normal;
        display: inline-block;
        font-size: 16px;
        list-style: none;
        vertical-align: top;
    }
}