.cth-media {
    border: 1px solid $border-color;
    padding: $padding-xs;
    margin-bottom: $margin-xs;
    position: relative;
    line-height: 18px;
    
    &:last-child {
        margin-bottom: 0px;
    }

    p {
        line-height: 18px;
    }

    img {
        padding-top: $padding-xs;
    }

    &--figure {
        float: left;
        margin-right: $margin-xs;

        .question {
             position: absolute;
             top: -4px;
             left: 28px;
             width: 14px;
         }
    }

    &--content {
        float: left;
    }

    &-sidebar {
        padding: $padding-sm;
        margin-bottom: 0px;
        border: 0px solid $border-color;
        border-bottom: 1px solid rgba($white, 0.06);

        p,
        .cth-bold {
            color: $white;
        }

        .cth-subtext {
            color: rgba(255,255,255,0.40);
        }
    }

    @extend %clearfix;   
}