.cth-task-list {

    &--item {
        padding: 19px $padding-md;
        border-bottom: 1px solid rgba(197,204,205,0.06);
        display: block;

        &-active {
            background-color: #323d40;
        }

        &--title {
            float: left;
            color: $white;

            > span {
                margin-right: $margin-sm;
            }
        }

        &--info {
            float: right;
            font-size: 17px;
        }
        @extend %clearfix;
    }
}