.cth-timeline {
    h2 {
        color: $white;
        line-height: 32px;
        margin-top: 30px - 6px;
        margin-left: $padding-lg;
        margin-bottom: $margin-md - 14px;
    }

    .cth-timeline--graph {
        padding-bottom: 4px;
    }
}
