.cth-topbar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4; // on top of sidebar
    pointer-events: none;
    height: $topbar-height;
    padding-top: $ios-statusbar-height;
    transform: translateY(0px - $topbar-height);
    transition: transform .2s;
    border-bottom: 1px solid rgba(#000, .08);
    background: inherit;

    ul {
        position: relative;
        z-index: 1;
        padding-left: $padding-md;
        padding-right: $padding-md;

        li {
            padding-top: 15px;
        }
    }

    .cth-topbar-back {
        margin-top: 8px - $margin-toucharea;
    }

    .sub-left {
        float: left;
    }

    .sub-right {
        position: absolute;
        right: 0;
        top: $ios-statusbar-height;
        height: 100%;

    }

    &:before {
        content: '';
        background-color: rgba($white, .02);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 0;
    }

    .cth-icon {
        padding-right: 8px;
    }

    .cth-icon-left,
    .cth-icon-left-double {
        margin-top: -1px;
    }
}

.state-topbar-active {
    .cth-topbar {
        pointer-events: all;
        transform: translateY(0px);
    }
}

.cth-topbar-user-img,
.cth-notification-img {
    width: 32px;
}
