h1 {
    font-family: NittiGrotesk-SemiLight;
    font-size: 32px;
    color: $color-h1;
    line-height: 36px;
}

h2 {
    font-family: NittiGrotesk-SemiLight;
    font-size: 24px;
    color: $color-h2;
    line-height: 28px;
}

h3 {
    font-family: NittiGrotesk-Medium;
    font-size: 18px;
    color: $color-h3;
    line-height: 21px;
}

h4 {
    font-family: NittiGrotesk-Medium;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-btn;
    letter-spacing: 1.4px;
    line-height: 18px;
}

p {
    font-family: NittiGrotesk-SemiLight;
    font-size: 16px;
    color: $color-p;
    line-height: 21px;
}

.cth-darktext {
    color: $cthdarkgray;
}

.cth-subtext {
    color: rgba(130,145,148,0.60);
}

.cth-social-color {
    color: $cthred;
}

.cth-bold {
    font-family: NittiGrotesk-Medium;
    color: $color-bold;
}

.cth-button {
    font-family: NittiGrotesk-Medium;
    font-size: 16px;
    color: $white;
    line-height: 21px;
}

.cth-label {
    font-family: NittiGrotesk-Medium;
    font-size: 14px;
    color: $white;
    letter-spacing: 1.2px;
    line-height: 18px;
    text-transform: uppercase;
}

.cth-icon-text {
    font-family: NittiGrotesk-Medium;
    font-size: 16px;
    color: $color-btn;
    line-height: 21px;

    &-white {
        color: $white;
    }
}

