.cth-user {
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;

    &-avatar-only {
        width: 24px;
    }

    &-bas{
        background-image: url("../images/topbar-user.png");
        background-position: 0 0;
    }

    &-a{
        background-image: url("../images/user.png");
        background-position: 0 0;
    }

    &-b{
        background-image: url("../images/user.png");
        background-position: 0 -24px;
    }

    &-c{
        background-image: url("../images/user.png");
        background-position: 0 -48px;
    }

    &-d{
        background-image: url("../images/user.png");
        background-position: 0 -72px;
    }

    &-e{
        background-image: url("../images/user.png");
        background-position: 0 -96px;
    }

    &-f{
        background-image: url("../images/user.png");
        background-position: 0 -120px;
    }

    &-g{
        background-image: url("../images/user.png");
        background-position: 0 -144px;
    }

    &-h{
        background-image: url("../images/user.png");
        background-position: 0 -168px;
    }

    &-i{
        background-image: url("../images/user.png");
        background-position: 0 -192px;
    }

    &-j{
        background-image: url("../images/user.png");
        background-position: 0 -216px;
    }

    &-k{
        background-image: url("../images/user.png");
        background-position: 0 -240px;
    }

    p {
        padding-left: 37px;
    }
}
