<section class="cth-sidebar" ng-class="{'state-expanded': sidebarExpanded}" ng-click="sidebarExpanded = !sidebarExpanded;">
    <ul class="cth-list">
        <ul class="cth-list">
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-f"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 1})">
                    <span class="cth-bold">Judy Curtis</span> commented on <span class="cth-bold">Open <br/>sourcing academy 4</span></a><br/>
                    <span class="cth-subtext">22 minutes ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-d"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 1})">
                    <span class="cth-bold">Betty Riley</span> commented on <span class="cth-bold">Open <br/>sourcing academy 4</span></a><br/>
                    <span class="cth-subtext">2 hours ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-g"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 1})">
                    <span class="cth-bold">Paul Harris</span> liked <span class="cth-bold">Open sourcing<br/> academy 4</span></a><br/>
                    <span class="cth-subtext">4 hours ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-j"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 1})">
                    <span class="cth-bold">Denise Stephens</span> commented on <span class="cth-bold">Open <br/>sourcing academy 4</span></a><br/>
                    <span class="cth-subtext">1 day ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-i"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 2})">
                    <span class="cth-bold">Sean Guzman</span> upvoted your article  <span class="cth-bold"><br/>From object to data</span></a><br/>
                    <span class="cth-subtext">4 days ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-a"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 2})">
                    <span class="cth-bold">Harold Davids</span> upvoted your article  <span class="cth-bold"><br/>From object to data</span></a><br/>
                    <span class="cth-subtext">1 week ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-k"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 2})">
                    <span class="cth-bold">Sean Guzman</span> upvoted your article  <span class="cth-bold"><br/>From object to data</span></a><br/>
                    <span class="cth-subtext">1 week ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-g"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 1})">
                    <span class="cth-bold">Paul Harris</span> liked <span class="cth-bold">Open sourcing<br/> academy 4</span></a><br/>
                    <span class="cth-subtext">4 hours ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-j"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 1})">
                    <span class="cth-bold">Denise Stephens</span> commented on <span class="cth-bold">Open <br/>sourcing academy 4</span></a><br/>
                    <span class="cth-subtext">1 day ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-i"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 2})">
                    <span class="cth-bold">Sean Guzman</span> upvoted your article  <span class="cth-bold"><br/>From object to data</span></a><br/>
                    <span class="cth-subtext">4 days ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-a"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 2})">
                    <span class="cth-bold">Harold Davids</span> upvoted your article  <span class="cth-bold"><br/>From object to data</span></a><br/>
                    <span class="cth-subtext">1 week ago</span>
                </p>
            </li>
            <li class="cth-media cth-media-sidebar">
                <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-k"></figure>
                <p class="cth-media--content"><a ui-sref="app.goal({goal: 2})">
                    <span class="cth-bold">Sean Guzman</span> upvoted your article  <span class="cth-bold"><br/>From object to data</span></a><br/>
                    <span class="cth-subtext">1 week ago</span>
                </p>
            </li>
        </ul>
    </ul>
</section>
