<div class="cth-goal-parallax" ng-click="toggleCard()">
    <div class="cth-timeline">
        <h2 ng-bind="goal.title"></h2>
        <div class="cth-timeline--graph">
            <figure class="cth-people-graph">
                <div class="cth-people-graph--yaxis"></div>
                <div class="cth-people-graph--values">
                    <div class="cth-timestamp">
                    </div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark cth-people-graph-clickable"> </li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li class="cth-people-graph--question-mark"></li>
                            <li></li>
                            <li></li>
                        </ul>
                    <div class="cth-people-graph--card" ng-show="cardActive">
                        <img usemap="#cardmap" src="images/graph-card.png" alt="" />
                        <map name="cardmap">
                            <area shape="rect" coords="42,116,197,155" href="#/app/profile">
                        </map>
                    </div>
                </div>
            </figure>
        </div>
    </div>
    <div class="cth-goal">
        <div class="cth-goal--main">
            <div class="cth-component">
                <p class="cth-darktext">Learn HTML, CSS, JavaScript and jQuery fundamentals: all the skills you need to build your own tools and apps.</p>
            </div>
            <div class="cth-component">
                <div class="cth-component-header">
                    <h3 class="cth-component-header--title">
                        Discussions
                        <span><p>Discuss and help each other to complete this goal.</p></span>
                    </h3>
                    <div class="cth-component-header--extra">
                        <p><a class="cth-button" onclick="alert('This functionality is not yet included');">Start Discussion</a></p>
                    </div>
                </div>
                <ul class="cth-list">
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-k"></figure>
                        <p class="cth-media--content"><span class="cth-bold">This is why I care. What about you?</span> <br/>
                            By Martha Garret <i class="cth-icon cth-icon-done-dot"></i> 3 hours ago <i class="cth-icon cth-icon-done-dot"></i> 13 comments
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-c"></figure>
                        <p class="cth-media--content"><span class="cth-bold">My experiences during this course</span> <br/>
                            By Jon Snow <i class="cth-icon cth-icon-done-dot"></i> 5 hours ago <i class="cth-icon cth-icon-done-dot"></i> 15 comments
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-f"></figure>
                        <p class="cth-media--content"><span class="cth-bold">Possible followup goals</span> <br/>
                            By Arya Stark <i class="cth-icon cth-icon-done-dot"></i> 6 hours ago <i class="cth-icon cth-icon-done-dot"></i> 4 comments
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cth-goal--aside">
                <div class="cth-component">

                    <div class="cth-component-header">
                        <p class="cth-bold cth-component-header--title">Work in progress</p>
                        <!-- <h4 class="cth-component-header--extra">Task 5</h4> -->
                    </div>

                <ul class="cth-list">
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-c"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for design feedback</span></a><br/>
                            Be the first to help out!
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-e"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for web feedback</span></a><br/>
                            Be the first to help out!
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-a"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for web feedback</span></a><br/>
                            <img class="cth-faces" src="images/three_faces.png">
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-i"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for code feedback</span></a><br/>
                            Be the first to help out!
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-j"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for design feedback</span></a><br/>
                            <img class="cth-faces" src="images/three_faces.png">
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-k"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for code feedback</span></a><br/>
                            <img class="cth-faces" src="images/three_faces.png">
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-e"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for web feedback</span></a><br/>
                            Be the first to help out!
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-a"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for web feedback</span></a><br/>
                            <img class="cth-faces" src="images/three_faces.png">
                        </p>
                    </li>
                    <li class="cth-media">
                        <figure class="cth-media--figure cth-user cth-user-avatar-only cth-user-i"><img class="question" src="images/questionmark.png"></figure>
                        <p class="cth-media--content"><a ui-sref="app.submitted"><span class="cth-bold">is asking for code feedback</span></a><br/>
                            Be the first to help out!
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
