// cth colors
$cthyellow: #E5CF39;
$cthgreen: #A5CC45;
$cthblue: #75C7B3;
$cthred: #E34D2F;
$cthgray: #c0c4c1;
$cthdarkgray: #3d3d3d;

// Color defenitions
$charcoal: #354144;
$grey-dark: #829194;
$grey-light: #C5CCCD;
$aqua: #31BAAA;
$orange: $cthred; //#EB874D;
$red: #E35454;
$purple: #C9406E;
$blue-dark: #385373;
$blue-light: #49A1BF;
$white: #fff;

// Border colors
$border-color: rgba(197,204,205,0.40);

// Element colors
$color-base: $charcoal;
$color-btn: #98AEB3;
$color-btn-product: $charcoal;
$color-goal-1: $aqua;
$color-goal-2: $orange;
$color-goal-3: $red;
$color-goal-4: $purple;
$color-goal-5: $blue-dark;
$color-goal-6: $blue-light;

// Type colors
$color-h1: $cthdarkgray;
$color-h2: $cthdarkgray;
$color-h3: $cthdarkgray;
$color-bold: $cthdarkgray;
$color-p: $grey-dark;
$social-p: $cthred;
